@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #F0F2F5;
}

/* Today, we create innovative solutions to the challenges that consumers face in both their everyday lives and events. */
.textposition{
position: fixed;
width: 453px;
height: 150px;
left: 69%;
top: 550px;
color: #F0F2F5;
}

.footerli{
  margin-top: 8%;
}

.nav-item{
    margin-right: 25px;
}

@media only screen and (min-width: 600px) {
    .navbar-brand{
        margin-left: 50px;
    }
 

  }


@media only screen and (max-width: 600px) {
    .navbar-brand{

    height: 50px;
    }
 

  }



.navbar-nav{
    margin-right: 60px;
    
}
body{
    font-family: 'Poppins';
}

.btn{
    /* margin-left: 50px; */
    margin-right: 80px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 350px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
.index{
  z-index:1;
}

